.App {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  flex-flow: column;
}

.horiz-bar {
  display: inline-block;
  background-color: blue;
  border-style: solid;
  border-color: black;
  transition: all 300ms ease-in-out;
}

.row {
  box-sizing: border-box;
}

.country {
  float: left;
  width: 250px;
}

.country form {
  float: left;
}

.country .country-input {
  width: 100px;
}

.average {
  float: left;
  width: 250px;
}
